button{
    width: 10em;
    background-color: brown;
    color: white;
    border-radius: 5px;
    border: solid 4px blue
}
button:hover{
    color: aqua;
    background-color: azure;
    border-color: brown;
}

p:hover{
    background-color: chocolate;
    cursor: pointer;
}
input:focus{
    background-color: darkolivegreen;
}

p:nth-of-type(2){
    background-color: black     ;
}
p::after{
    background-color: aliceblue;
}
