#vermelho{
    background-color: red;
}
#roxo{
    background-color: purple;
}
#a1{
    color: white;
    font-size: 35px;

}
#a2{
    color: gray;
    font-size: 54px;

}

.h3{
    background-color: white;
    color: green;
}