#container{
    display: flex ;
    height: 70vh;
    flex-wrap: wrap ;
    justify-content: start;
    align-items: baseline;
    
}


.item{
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.item-1{
    height: 20px;
    flex-grow: ;

}